{% extends 'base.html' %}

{% block body %}
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Date</th>
      <th scope="col">Open</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      <th scope="col">Close</th>
      <th scope="col">Prediction</th>
      <th scope="col">Model Score</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(0,rows|length) %}
      <tr>
        <th scope="row"> {{ stocks[i]}} </th>
        <td> {{ rows[i]['Date'] }} </td>
        <td> {{ rows[i]['Open'] | round(2) }} </td>
        <td> {{ rows[i]['High'] | round(2) }} </td>
        <td> {{ rows[i]['Low'] | round(2) }} </td>
        <td> {{ rows[i]['Close'] | round(2) }} </td>
        {% if rows[i]['Prediction'] == 0 %}
          <td>
            <img src="../static/images/up-down-arrow.jpg.jpg"
                 alt="" width="30" height="24">
          </td>
        {% elif rows[i]['Prediction']  == 1 %}
          <td>
            <img src="../static/images/1077px-Green-Up-Arrow.png.png"
                 alt="" width="30" height="24">
          </td>
        {% elif rows[i]['Prediction']  == -1 %}
          <td>
            <img src="../static/images/1077px-Red-Down-Arrow.png.png"
                 alt="" width="30" height="24">
          </td>
        {% endif%}
        <td>{{ scores[i] | round(2) }}</td>
        <td>  <a href="/stock_predict/{{stocks[i]}}">more...</a> </td>

      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}